.reserve-plus {
  width: 100%;
}

.reserve-content1 {
  width: 16%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}

.reserve-content2 {
  width: 12.5%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content3 {
  width: 5%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content4 {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content5 {
  width: 6%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content6 {
  width: 12%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content7 {
  width: 7.5%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}
.reserve-content8 {
  width: 6%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 10px;
  text-align: center;
}