<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="app/assets/stylesheets/style.css">
<link rel="stylesheet" href="app/assets/stylesheets/slide.css">
<script src="/./javascript/openclose.js"></script>
<script src="/./javascript/fixmenu_pagetop.js"></script>
</head>
<body>

<div id="container">

<header>

<h1 id="logo"><%= link_to( root_path) do %><%= image_tag 'logo1.png' %><% end %></h1>
</header>