.item-contents-cart{
width: 100%;
height: 10vh;
margin-top: 3px;
}
.item-contents-cart>.title-cart{
  text-align: left;
  font-size: bold;
}
.item-lists-cart{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item-lists-cart>.list{
  display: flex;
  justify-content: left;
  width:100%;
}
.item-lists-cart>.list>.item-img-content{
width: 30%;
background-color: #FFF;
}
.item-lists-cart>.list>.item-info{
width:40%;
}
.item-name-cart{
height: 50%;
}
.item-price{
height: 50%;
}
.item-lists-cart>.list>.item-cart-link{
width:30%;

}
.item-cart-link2{
height:50%;
background-color: #FFF;
}
.item-cart-link2>.item-name{
  color:black;
}
.item-name-cart-color{
  color:black;
}

.cart_button{
  height:15vh;
  display:flex;
  justify-content: center;
}

.cart_button_type{
	padding: 10px 30px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border: none;
	border-radius: 30px;	/*角丸のサイズ*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
	font-size: 16px;	/*文字サイズ*/
	border: 1px solid #ccc;
  color:black;
  height:100%;
}